# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Nylas API Credentials
EXPO_PUBLIC_NYLAS_API_KEY=your_nylas_api_key
EXPO_PUBLIC_NYLAS_CLIENT_ID=your_nylas_client_id
EXPO_PUBLIC_NYLAS_CLIENT_SECRET=your_nylas_client_secret
EXPO_PUBLIC_NYLAS_REDIRECT_URI=your_nylas_redirect_uri
